:root {
  --boldText: #333333;
  --secondText: #6e6d7a;
  --activeText: #0d0c22;
  --place-holder-text: #929199;

  --box-shadow: rgba(0, 0, 0, 0.082);
  --mainColor: #fff;
  --textFieldColor: #f4f4f4;
  --section-bg-color: #f9f8fd;
  --Btn: #ea4c89;
  --btnHover: #f082ac;
}

@font-face {
  font-family: Dirooz;
  src: url(./Dirooz.ttf);
}

* {
  transition: 200ms;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--mainColor);
  transition: 200ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--boldText);
  font-family: Dirooz;
  text-align: right;
}
a,
p,
li,
span,
label,
input,
textarea {
  font-family: Dirooz;
  color: var(--secondText);
  font-size: 1.1vw;
  cursor: default;
  border: none;
}

h2 {
  font-size: 1.76vw;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: Dirooz;
}

.full-width {
  width: 100%;
}

/* ----------------------------------------- Header Section 1 ------------------------------------------ */
.s1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.navigation {
  display: flex;
  max-width: 90%;
  justify-content: space-evenly;
  place-items: center;
  flex-direction: row;
}

/* -------------------------------------- top header  with user options ----------------------------------- */
.top {
  background-color: var(--mainColor);
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 3px 3px 1px var(--box-shadow);
  -moz-box-shadow: 0px 3px 3px 1px var(--box-shadow);
  box-shadow: 0px 3px 3px 1px var(--box-shadow);
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
}

/* --------------------------- left side top header ------------------------ */
#logo {
  width: 150px;
  height: 80px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  place-items: center;
}

.logo-wrapper {
  display: flex;
  place-items: center;
}

/* --------------------------- right side top header ------------------------ */
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-items: center;
}

.t-auth-btn {
  padding: 10px 20px;
}

.t-auth-btn span:hover {
  cursor: default;
  color: var(--activeText);
}

.t-auth-btn-wrapper {
  padding: 15px 0;
}

.t-auth-btn-wrapper:hover > .t-auth-btn span {
  color: var(--activeText);
}

.s-auth-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
}

.signUp {
  margin: 0 15px;
  background-color: var(--Btn);
  border: 1px solid var(--Btn);
  font-size: 1.02vw;
  padding: 6px 20px;
  border-radius: 5px;
  display: flex;
  place-items: center;
}
.signUp span {
  color: var(--mainColor);
}

.logIn {
  margin: 0 5px;
  background-color: transparent;
  border: 1px solid var(--Btn);
  font-size: 1.02vw;
  padding: 6px 25px;
  border-radius: 5px;
  display: flex;
  place-items: center;
}

.signUp:hover {
  background-color: var(--btnHover);
}
.logIn:hover {
  border: 1px solid var(--btnHover);
}

.logIn:hover > span {
  color: var(--activeText);
}

/* --------------------- buttom header section ----------------------------- */
.buttom {
  background-color: var(--secondaryColor);
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.082);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.082);
  padding: 12px 0;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
}
/* ----------------------------- left side -------------------------------------- */
.left-bottom-nav {
  flex-grow: 0;
  display: flex;
  place-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
}

.main-search {
  outline: none;
  background: url(./search_icon.svg);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left;
  background-color: var(--textFieldColor);
  border-radius: 5px;
  text-align: right;
  color: var(--boldText);
  padding: 3% 10%;
}

.main-search:active,
.main-search:focus {
  background-size: 15%;
  background-color: var(--section-bg-color);
  padding: 2.5% 15%;
}
.main-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--place-holder-text);
  opacity: 1;
  /* Firefox */
}
.main-search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--place-holder-text);
}
.main-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--place-holder-text);
}

/* ------------------------------------- right side ------------------------------------------ */
.nav-menu-right {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-items: center;
  width: 100%;
}
.nav-item {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  transform: translateX(30px);
  place-items: center;
}

.item {
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item:hover > a span {
  color: var(--activeText);
}

.item-active a span {
  background-color: var(--textFieldColor);
  border-radius: 5px;
  color: var(--activeText);
  padding: 6px;
}
/* ------------------- Dark and Light mode button animation ----------------------- */
.loader-wapper {
  display: flex;
  justify-content: center;
  place-items: center;
}

.sun {
  width: 26px;
  height: 26px;
  background-color: var(--Btn);
  border-radius: 100%;
  position: absolute;
}

.sun-light {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 2px dotted var(--Btn);
  border-radius: 50%;
}

.moon {
  width: 26px;
  height: 26px;
  background-color: #222831;
  border-radius: 100%;
  position: absolute;
  -webkit-box-shadow: inset 5px -5px 0px 2px #454e5c;
  -moz-box-shadow: inset 5px -5px 0px 2px #454e5c;
  box-shadow: inset 5px -5px 0px 2px #454e5c;
}

.loader-moon {
  width: 26px;
  height: 26px;
  background-color: var(--Btn);
  border-radius: 100%;
  position: absolute;
  -webkit-animation: loader-1-1 400ms cubic-bezier(1, 0.165, 0.182, 0.075);
  animation: loader-1-1 400ms cubic-bezier(1, 0.165, 0.182, 0.075);
  animation-iteration-count: 1;
}

@-webkit-keyframes loader-1-1 {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  100% {
    -webkit-box-shadow: inset 5px -5px 0px 2px #454e5c;
    -moz-box-shadow: inset 5px -5px 0px 2px #454e5c;
    box-shadow: inset 5px -5px 0px 2px #454e5c;
    background-color: #222831;
  }
}

@keyframes loader-1-1 {
  0% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  100% {
    -webkit-box-shadow: inset 5px -5px 0px 2px #454e5c;
    -moz-box-shadow: inset 5px -5px 0px 2px #454e5c;
    box-shadow: inset 5px -5px 0px 2px #454e5c;
    background-color: #222831;
  }
}

.loader-light {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 2px dotted var(--Btn);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: loader-1 400ms cubic-bezier(1, 0.165, 0.182, 0.075);
  animation: loader-1 400ms cubic-bezier(1, 0.165, 0.182, 0.075);
  animation-iteration-count: 1;
}

@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    opacity: 0;
    border: 2px dotted #393e46;
  }
}

@keyframes loader-1 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 0;
    border: 2px dotted #393e46;
  }
}

.overLayer {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 0em var(--mainColor);
  position: absolute;
  animation: loader-1-2 500ms cubic-bezier(1, 0.165, 0.182, 0.075);
}

@keyframes loader-1-2 {
  0% {
    box-shadow: 0px 0px 2px 0em var(--mainColor);
  }

  50% {
    box-shadow: 0px 0px 2px 200em var(--mainColor);
  }

  100% {
    box-shadow: 0px 0px 2px 0em var(--mainColor);
  }
}

/* ------------------------------------ section 2 -------------------------------------------- */

.s2 {
  background-color: var(--section-bg-color);
  display: flex;
  place-items: center;
  padding: 50px 0;
}
.s2-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}
.intro-column {
  flex-grow: 1;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

/* ------------------------------------- left side section 2 ---------------------------------------- */

.left-column-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-size {
  width: 90%;
  object-fit: cover;
}

/* ------------------------------------ right side sectio 2 ------------------------------------ */

.right-column-intro {
  display: flex;
  flex-direction: row-reverse;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro-title {
  font-size: 3vw;
  margin-top: 0;
}

.intro-detial {
  font-size: 1vw;
  text-align: right;
  margin-bottom: 2em;
  margin-bottom: 4em;
}

.intro-action-btn {
  text-align: center;
  background-color: var(--Btn);
  color: var(--mainColor);
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 5px 0;
  width: 50%;
  -webkit-box-shadow: 0px 1px 2px 1px var(--box-shadow);
  -moz-box-shadow: 0px 1px 2px 1px var(--box-shadow);
  box-shadow: 0px 1px 2px 1px var(--box-shadow);
}

.intro-action-btn:hover {
  background-color: var(--btnHover);
}
.intro-action-btn:active {
  -webkit-box-shadow: 0px 0px 0 0 var(--mainColor);
  -moz-box-shadow: 0px 0px 0 0 var(--mainColor);
  box-shadow: 0px 0px 0 0 var(--mainColor);
}
/* --------------------------- section 3 ------------------------ */
.s3 {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.s3-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.top-course-column {
  flex-grow: 1;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.top-course-header {
  margin-right: 5px;
}

.top-course-wrapper {
  background-color: var(--section-bg-color);
  border-radius: 10px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  justify-content: space-evenly;
}
.course-item-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

.course-img-wrapper {
  width: 110px;
  height: 110px;
  background-color: var(--mainColor);
  border-radius: 10px;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.course-img-wrapper:hover {
  box-shadow: 0px 0px 2px 1px var(--box-shadow);
  cursor: pointer;
}

.course-thumbnail {
  width: 95px;
}

.course-title-wrapper {
  display: flex;
  justify-content: center;
}

.top-course-title {
  text-align: center;
  margin: 0;
}
/* ------------------------------- section 4 ------------------------------ */
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-1 {
  flex-grow: 1;
}

.s4 {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border: 1px dashed;
}

.s4-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  padding: 20px 0;
  border: 1px dashed;
}

.filters-wrapper {
  max-width: 90%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border: 1px dashed;
}

.filter-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  border: 1px dashed red;
}

.filter-catagory-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.filter-dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
   text-align: center;
}

.filter-popular-dropdown{
  text-align: center;
}

.filter-category-section {
  flex-grow: 10;
  text-align: center;
}

.filter-extra-dropdown-btn{
  filter-extra-dropdown-btn
}